# Python build junk
__pycache__/
*.pyc
*.pyo
.venv/
dist/
build/

# Windows & editor junk
Thumbs.db
desktop.ini
*.swp
*.swo
*.un~
*.bak

# PyInstaller / temp
InstallationFiles/build/
InstallationFiles/dist/
*.spec

